/* Global Variables
===================*/
$heading-font-stack: 'Roboto', Arial, Helvetica, sans-serif;
$body-font-stack: 'Roboto', Arial, Helvetica, sans-serif;
$primary-color: #4A4A4A;

$break-mobile: 320px;
$break-tablet: 768px;
$break-desktop: 1024px;

@mixin respond-to($media) {
    @if $media == mobile {
        @media only screen and (max-width: $break-mobile) { @content; }
    }
    @else if $media == large-mobile {
        @media only screen and (min-width: $break-mobile +1) and (max-width: $break-tablet) { @content; }
    }
    @else if $media == tablet {
        @media only screen and (min-width: $break-tablet + 1) and (max-width: $break-desktop) { @content; }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $break-desktop + 1) { @content; }
    }
}

/* Import Other Stylesheets
===================*/

@import 'normalize';
@import 'responsive';


/* Global
===================*/
html {
    font-size: 16px;
    color: #4A4A4A;
}
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 30px;
    background-color: #F4F4F4;
}
h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}
section {
    padding-bottom: 2rem;
}

@media only screen and (min-width: 768px) {

    h1 {
        font-size: 2.25rem;
    }

}

/* Layout
===================*/
.header {
    background-color: #FFFFFF;
    border-bottom: #979797 1px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}
.navbar {
    position: relative;
}
.navbar__logo {
    font-size: 1rem;
}
.navbar__navigation {
    display: none;
    text-align: right;
    @include respond-to(tablet) {
        display: initial;
    }
    @include respond-to(desktop) {
        display: initial;
    }
}
.main {
    padding-top: 5rem;
}
.status {
    text-align: center;
    padding: 3rem 0;
}
.status--open {
    text-transform: uppercase;
    color: darkgreen;
    font-size: 3rem;
    line-height: 6rem;
}
.status--caution {
    text-transform: uppercase;
    color: #FFD700;
    font-size: 3rem;
    line-height: 6rem;
}
.status--closed {
    text-transform: uppercase;
    color: red;
    font-size: 3rem;
    line-height: 6rem;
}
.status--error {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 6rem;
}
.status__data-refreshed {
    font-size: 0.75rem;
    line-height: 0.5rem;
}
.status-source {
    padding-bottom: 2.5rem;
    padding-top: 0.5rem;
}
.status-source__image {
    padding-right: 1rem;
    width: 75px;
}
.status-source-status--open {
    text-transform: uppercase;
    color: darkgreen;
    font-size: 1.25rem;
    font-weight: 600;
}
.status-source-status--caution {
    text-transform: uppercase;
    color: #FFD700;
    font-size: 1.25rem;
    font-weight: 600;
}
.status-source-status--closed {
    text-transform: uppercase;
    color: red;
    font-size: 1.25rem;
    font-weight: 600;
}
.status-source-status--error {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 600;
}
.announcements-box {
    border: 2px solid #FFD700;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255,215,0,0.15);
}
.footer {
    font-size: 0.875rem;
    line-height: 1rem;
}
.footer__social-icons {
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {

    .navbar__logo {
        font-size: 1.5rem;
    }
    .status {
    padding: 6rem 0;
    }
    .status-source__image {
        padding-right: 2rem;
        width: 120px;
    }

}

/* Links
===================*/
a {
    color: #4A4A4A;
}
a:hover { 
    color: #000000;
}

/* Helpers
===================*/
.center {
    margin: auto;
    text-align: center;
}